* {
    box-sizing: border-box;
}

html.theme-light {
    --background-primary: #FFFFFF;
    --background-secondary: #F3F3F3;
    --background-highlight: #DDDDDD;
    --background-active: #777777;
    --text-primary: #000000;
    --text-heading: #000000;
    --text-menu: #333333;
    --text-link: #0000ff;
    --text-menu-active: var(--background-secondary);
    --mermaid-theme: default;
    color-scheme: light;
}

html.theme-dark {
    --background-primary: #333333;
    --background-secondary: #1F1F1F;
    --background-highlight: #484848;
    --background-active: #777777;
    --text-primary: #cccccc;
    --text-heading: #cccccc;
    --text-menu: #AAAAAA;
    --text-link: #87CEFA;
    --text-menu-active: var(--background-secondary);
    --mermaid-theme: dark;
    color-scheme: dark;
}

body {
    background: var(--background-primary);
    font-family: 'Montserrat', 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    line-height: 1.5;
    color: var(--text-primary);
    margin: 0;
}

a {
    color: var(--text-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre, code, kbd, samp {
    font-family: "JetBrains Mono", Consolas, monospace;
}

img {
    max-width: 100%;
}

pre {
    white-space: pre-wrap;
    word-wrap: anywhere;
}
