.flashcards-settings .tn-number-unit-pair {
    max-width: 12em;
}

.flashcards-data .flashcards-import-input {
    display: none;
}

.flashcards-settings .flashcards-weights-input {
    font-family: var(--monospace-font-family);
}
