@container info-section (max-width: 800px) {
    table, tbody, tr, td, th {
        display: block;
        padding: 0 !important;
    }

    tbody {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    tr {
        flex-grow: 1;
    }

    tr:has(.file-buttons) {
        width: 100%;
    }

    th {
        font-size: .85em;
    }

    td {
        margin-bottom: .5em;
    }
}

/*
 * Promoted attributes
 */

div.promoted-attributes-container {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-inline-start: 12px;
}

/*
 * Image Properties
 */

 /* The property label */
.image-properties > div:first-child > span > strong {
    opacity: 0.65;
    font-weight: 500;
    vertical-align: top;
}

/* The button bar */
.image-properties > div:last-of-type {
    padding: 0;
    margin: 0;
    justify-content: flex-start !important;
    flex-wrap: wrap;
    gap: 12px;
}

/* The properties row for images */
.image-properties > div:first-child {
    justify-content: flex-start !important;
    flex-wrap: wrap;
    gap: 10px 40px;
}

/*
 * Owned attributes
 */

.attribute-list .add-new-attribute-button,
.attribute-list .save-attributes-button {
    bottom: 0.3em;
}

.attribute-list .save-attributes-button {
    inset-inline-end: 30px;
}

/* Note path in attribute detail dialog */
.attr-detail .note-path {
    margin-inline-start: 8px;
}

/*
 * Similar notes
 */

:root .similar-notes-widget a {
    color: var(--cmd-button-text-color);
    background: var(--cmd-button-background-color);
}

:root .similar-notes-widget a:hover {
    color: var(--cmd-button-hover-text-color);
    background: var(--cmd-button-hover-background-color);
}
