.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 27px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-primary);
    transition: 0.4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    z-index: 2;
}

input:checked + .slider {
    background-color: var(--background-highlight);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--background-highlight);
}

input:checked + .slider:before {
    transform: translateX(33px);
}

.theme-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme-selection label {
    position: relative;
}

.dark-icon, .light-icon {
    display: flex;
    opacity: 0;
    transition: opacity 400ms ease, color 400ms ease;
    pointer-events: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 24px;
}

input:not(:checked) ~ .light-icon {
    opacity: 1;
}

input:checked ~ .dark-icon {
    opacity: 1;
}

.dark-icon {
    left: 5px;
    color: var(--text-primary);
}

.light-icon {
    right: 5px;
    color: var(--background-highlight);
}
