.modal.import-preview-dialog {
    .card {
        margin-bottom: 1em;
    }

    .dangerous-categories {
        display: flex;
        gap: 0.5em;
        margin-top: 0.5em;
        --badge-radius: 1000px;

        .ext-badge {
            color: black;

            &.critical { --color: #ff7979; }
            &.warning { --color: #e2b11d; }

            &.safe { --color: var(--admonition-tip-accent-color); }
        }
    }
}
