.type-relationMap .note-detail {
    height: 100%;
}

.note-detail-relation-map {
    --relation-map-line-color: var(--muted-text-color);
    --relation-map-highlight-color: var(--note-icon-background-color, var(--link-color));

    height: 100%;
    overflow: hidden !important;
    position: relative;
}

.relation-map-wrapper {
    position: relative;
    height: 100%;
    outline: none; /* remove dotted outline on click */
}

.note-detail-relation-map .connection-label.jtk-hover {
    background-color: var(--more-accented-background-color);
}

.note-detail-relation-map .connection-label {
    background-color: var(--accented-background-color);
    color: var(--main-text-color);
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #666;
    cursor: pointer;
}

.note-detail-relation-map path,
.note-detail-relation-map .jtk-endpoint {
    cursor: pointer;
}

.note-detail-relation-map .ui-contextmenu {
    z-index: 100;
}

.relation-map-wrapper.placing-note {
    cursor: crosshair;
}

.note-detail-relation-map .jtk-connector {
    transition: opacity 0.2s ease;

    path {
        stroke: var(--relation-map-line-color);
        transition: stroke 0.2s ease, fill 0.2s ease;
    }

    .relation-map-arrow {
        fill: var(--relation-map-line-color);
        stroke-width: 1.2px;
        stroke-linejoin: round;
    }

    &.jtk-hover,
    &.relation-map-lit {
        --relation-map-line-color: var(--relation-map-lit-color, var(--relation-map-highlight-color));
    }
}

.relation-map-note-hovered :is(.jtk-connector, .connection-label):not(.relation-map-lit) {
    opacity: 0.15;
}
