body:has(#content.app-view) {
    #right-pane {
        height: 100vh;
    }

    #main {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0;
    }

    #content {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;
    }

    #content-footer {
        margin-top: 0;
    }

    #content > :is(.share-collection, .share-note-view) {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;

        justify-content: center;

        > * {
            flex: 1;
            min-height: 0;
        }

        > img {
            flex: 0 1 auto;
            align-self: center;
            object-fit: contain;
        }
    }

    @media (max-width: 48em) {
        #right-pane {
            height: calc(100dvh - var(--header-height));
        }
    }
}
