body {
    width: 300px;
    font-size: 12px;
    font-family: sans-serif;
}

.popup {
    .popup-header {
        display: flex;
        justify-content: space-between;
    }

    .popup-header-buttons {
        position: relative;
        top: 6px;
    }

    .button {
        margin: 3% auto;
        padding: 4px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #eee;
        cursor: pointer;
        color: black;

        &[disabled] {
            color: #aaa;
        }
    }

    .wide {
        min-width: 8em;
    }

    .full {
        display: block;
        width: 100%;
    }

    .already-visited a {
        color: lightskyblue;
    }

    .save-link-with-note textarea {
        width: 100%;
    }

    .save-link-with-note-buttons {
        display: flex;
    }

    .save-button {
        border-color: #0062cc;
        background-color: #0069d9;
        color: white;
    }

    .connection {
        margin-top: 15px;
    }

    .check-connection-button {
        float: right;
        margin-top: -6px;
    }

    .status-ok {
        color: green;
    }

    .status-warning {
        color: orange;
    }

    .status-error {
        color: red;
    }
}
