.note-detail-doc-content {
    padding: 15px;
    user-select: text;
}

.note-detail-doc-content pre {
    border: 0;
    box-shadow: var(--code-block-box-shadow);
    padding: 15px;
    border-radius: 5px;
}

.note-detail-doc-content code {
    font-variant: none;
}

.note-detail-doc-content pre:not(.hljs) {
    background-color: var(--accented-background-color);
    border: 1px solid var(--main-border-color);
}
