.timeline-view .timeline-row {
    display: flex;
    align-items: center;
    gap: 0.25em;

    .timeline-row-title {
        flex-grow: 1;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
    }

    .timeline-row-add {
        visibility: hidden;
    }

    &:hover .timeline-row-add,
    .timeline-row-add:focus-visible {
        visibility: visible;
    }
}
