.geo-view {
  overflow: hidden;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  > .collection-properties {
    position: relative;
  }
}

.geo-map-container {
  height: 100%;
  overflow: hidden;

  .maplibregl-canvas-container {
    position: relative;
  }
}

.geo-view.placing-note .geo-map-container {
  cursor: crosshair;
}

.geo-map-container .geo-marker {
  position: relative;
  cursor: pointer;
  overflow: visible;
}

.geo-map-container .geo-marker .marker-pin {
  position: relative;
}

.geo-map-container .geo-marker .marker-pin svg {
  display: block;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

.geo-map-container .geo-marker .tn-icon {
  position: absolute;
  top: 3px;
  inset-inline-start: 4px;
  background-color: white;
  color: var(--light-theme-custom-color, black);
  padding: 2px;
  border-radius: 50%;
  font-size: 17px;
}

.geo-map-container .geo-marker .title-label {
  display: block;
  position: absolute;
  top: 100%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  height: 1rem;
  color: black;
  width: 100px;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  white-space: nowrap;
  overflow: hidden;
}

body[dir=rtl] .geo-map-container .geo-marker .title-label {
  transform: translateX(50%);
}

.geo-map-container .geo-marker .archived {
  opacity: 0.5;
}

.geo-map-container.dark .geo-marker .title-label {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
